
    <!-- Hero section -->
    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div >
                <h5 class="text-sm md:text-lg capitalize"><em>are you hungry?</em> </h5>
                <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold capitalize">don't wait !</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-12 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/images/hero-pizza.png" alt="">
            </div>
        </div>
    </section>
    <!-- Main product section -->
    <section class="menu container mx-auto py-8 px-2">
        <h2 class="text-2xl capitalize mb-8 ">All Pizza</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
            <% foods.forEach(function(food){ %>

            <!-- repeat block -->
            <div class="border text-center py-4 rounded-lg">
                <img src="/images/<%= food.image %>" alt="" class="h-40 mb-4 mx-auto">
                <div>
                    <h3 class="mb-4 text-lg capitalize"><%= food.name %></h3>
                    <span class="py-1 px-4 rounded-full bg-slate-100 uppercase text-xs "><%= food.size %></span>
                    <div class="flex justify-evenly my-5">
                        <span class="font-bold text-lg">৳ <%= food.price %></span>
                        <button data-food="<%= JSON.stringify(food) %>"  class="add-btn flex items-center font-bold gap-4"><span>+</span> <span>add to cart</span></button>
                    </div>
                </div>
            </div>
            
       <% }) %>
  
        </div>
    </section>